<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender class="org.apache.log4j.ConsoleAppender" name="fileAppender">

		<layout class="org.apache.log4j.PatternLayout">

			<param name="ConversionPattern" value="%d{ISO8601} %-5p %c: %m%n" />

		</layout>

	</appender>

	<logger name="com.pentasys.ws.java4web" additivity="false">

		<level value="debug" />

		<appender-ref ref="fileAppender" />

	</logger>

	<logger name="org.hibernate.SQL" additivity="false">

		<level value="warn" />

		<appender-ref ref="fileAppender" />

	</logger>

	<logger name="java.sql" additivity="false">

		<level value="error" />

		<appender-ref ref="fileAppender" />

	</logger>



	<logger name="java.sql.Connection" additivity="false">

		<level value="error" />

		<appender-ref ref="fileAppender" />

	</logger>



	<logger name="java.sql.PreparedStatement" additivity="false">

		<level value="error" />

		<appender-ref ref="fileAppender" />

	</logger>



	<logger name="java.sql.ResultSet" additivity="false">

		<level value="error" />

		<appender-ref ref="fileAppender" />

	</logger>



	<root>

		<priority value="info" />

		<appender-ref ref="fileAppender" />

	</root>

</log4j:configuration>