<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
                    http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://www.springframework.org/schema/aop
                            http://www.springframework.org/schema/aop/spring-aop.xsd
                    http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context.xsd
                    http://www.springframework.org/schema/mvc
                            http://www.springframework.org/schema/mvc/spring-mvc.xsd
            ">

	<description>
		Dieses ist die zentrale Konfiguration für das
		Spring-Servlet.
	</description>

	<!-- Verwenden des Load-Time-Weaver -->
	<context:load-time-weaver aspectj-weaving="on" />

	<!-- Das Verwenden von allgemeinen Annotationen ermöglichen -->
	<context:annotation-config />

	<!-- Schalte die Annotation für MVC ein -->
	<mvc:annotation-driven />

	<!-- Die Definition für den Aufruf der Index-Seite + JSPs -->
	<mvc:view-controller path="/" view-name="index" />
	<mvc:view-controller path="/users" view-name="users" />
	<mvc:view-controller path="/StartJSP" view-name="StartJSP" />
	<mvc:view-controller path="/ServletNoAOP"
		view-name="ServletNoAOP" />
	<mvc:view-controller path="/StartJavaBeanJSP"
		view-name="StartJavaBeanJSP" />

	<!-- Die Definition zum Mapping von Adressen auf Views -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:suffix=".jsp" p:prefix="/views/spring/"
		p:viewClass="org.springframework.web.servlet.view.JstlView" />

	<bean id="strongEncryptor" class="org.jasypt.encryption.pbe.PooledPBEStringEncryptor">
		<property name="algorithm">
			<value>PBEWithMD5AndTripleDES</value>
		</property>
		<property name="password">
			<value>jasypt</value>
		</property>
		<property name="poolSize">
			<value>4</value>
		</property>
	</bean>

	<bean id="hibernateStringEncryptor"
		class="org.jasypt.hibernate4.encryptor.HibernatePBEStringEncryptor">
		<property name="registeredName">
			<value>strongHibernateStringEncryptor</value>
		</property>
		<property name="encryptor">
			<ref bean="strongEncryptor" />
		</property>
	</bean>

	<!-- Laden der Controllers -->
	<import resource="classpath:application.xml" />
	<import resource="spring-struts.xml" />
	<import resource="spring-aop.xml" />

</beans>

