<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <description>Java Frameworks Workshop</description>
  <display-name>ws-javaframeworks</display-name>
  <context-param>
    <description>Der Parameter für das Logging</description>
    <param-name>log4jConfigLocation</param-name>
    <param-value>classpath:log4j.xml</param-value>
  </context-param>
  <context-param>
    <description>
                        Der Parameter für den ApplicationContext der fachlichen Logik
                </description>
    <param-name>contextConfigLocation</param-name>
    <param-value>WEB-INF/applicationContext.xml</param-value>
  </context-param>
  <context-param>
    <param-name>contextClass</param-name>
    <param-value>org.apache.struts2.spring.ClassReloadingXMLWebApplicationContext</param-value>
  </context-param>
  <filter>
    <description>Der Filter für das Encoding</description>
    <filter-name>encoding-filter</filter-name>
    <filter-class>
                        org.springframework.web.filter.CharacterEncodingFilter
                </filter-class>
    <init-param>
      <description>Der Parameter für das Encoding</description>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>
	         org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
	        </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/struts/*</url-pattern>
  </filter-mapping>
  <listener>
    <description>
                        Der Listener für die Konfiguration des Logging
                </description>
    <listener-class>
                        org.springframework.web.util.Log4jConfigListener
                </listener-class>
  </listener>
  <listener>
    <description>
                        Der Listener für die Konfiguration des ApplicationContext
                        der fachlichen Logik
                </description>
    <listener-class>
                        org.springframework.web.context.ContextLoaderListener
                </listener-class>
  </listener>
  <servlet>
    <description>Das zentrale Servlet</description>
    <servlet-name>spring</servlet-name>
    <servlet-class>
                        org.springframework.web.servlet.DispatcherServlet
                </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>/spring/*</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list><welcome-file>views/index.html</welcome-file></welcome-file-list>
</web-app>